body {
  background-color: rgba(10, 10, 10, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2vw;
  color: #efefef;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
  padding: 1vw;
  align-items: flex-start;
  /*align-items: center;*/
}

.name {
  align-items: center;
  padding-top: 1vw;
  width: 44vw;
  height: 14vw;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center; /* centruje w poziomie */
}

.name_insert {
  padding-left: 1.6vw;
  margin: auto;
  text-align: center;
  align-items: center;
  font-size: 8vw;
  letter-spacing: 0.8vw;
  line-height: 0.1vw;
}

.name_insert h1 {
  font-size: 9vw;
  letter-spacing: 1.2vw;
  margin-top: 4vw;
  line-height: 0.1vw;
}

.name_insert h5 {
  line-height: 0.1vw;
  font-size: 1.2vw;
  font-weight: 300;
  letter-spacing: 2.5vw;
}

.description {
  width: 42vw;
  height: 14vw;
  padding-top: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  text-justify: inter-word;
}

h3 {
  margin-top: 1vw;
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 1.7vw;
  margin-bottom: 0vw;
}

.graphic {
  width: 44vw;
  display: flex;
  gap: 1vw;
}

.pion {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

img {
  height: 100%;
  width: 100%;
}

.photo1 {
  width: 29vw;
  height: 29vw;
  transition: all 0.25s ease-in-out;
  opacity: 0.96;
  /* transition: opacity 0.5s ease-in-out;*/
}
/* transition: co ma być przejściowe, ile ma trwać, w jaki sposób ma przechodzić */
/* jak chcemy, żeby transition dotyczyło wszystkich funkcji, wpisujemy "all" */

.photo1:hover {
  /* przedrostki dla poszczególnych przeglądarek*/
  -webkit-transform: scale(0.993);
  -ms-transform: scale(0.993);
  transform: scale(0.993);
  opacity: 1;
  filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.3));
}

.photo2 {
  width: 29vw;
  height: 12vw;
  opacity: 0.96;
  transition: all 0.25s ease-in-out;
}

.photo2:hover {
  -webkit-transform: scale(0.993);
  -ms-transform: scale(0.993);
  transform: scale(0.993);
  opacity: 1;
  filter: drop-shadow(0px 0px 10px rgba(218, 170, 13, 0.2));
}

.logo {
  width: 13.98vw;
  height: 14vw;
  object-fit: contain;
  transition: all 0.25s ease-in-out;
  opacity: 0.96;
}

.logo:hover {
  -webkit-transform: scale(0.993);
  -ms-transform: scale(0.993);
  transform: scale(0.993);
  filter: drop-shadow(0px 0px 10px rgba(0, 121, 78, 0.3));
  opacity: 1;
}
.photo3 {
  width: 14vw;
  height: 29vw;
  background-color: #000;
  object-fit: contain;
  opacity: 0.96;
  transition: all 0.25s ease-in-out;
}

.photo3:hover {
  -webkit-transform: scale(0.993);
  -ms-transform: scale(0.993);
  transform: scale(0.993);
  filter: drop-shadow(0px 0px 10px rgba(36, 33, 255, 0.3));
  opacity: 1;
}

.right {
  width: 44vw;
  display: flex;
  gap: 1vw;
}

p {
  margin-top: 0.1vw;
  font-size: 1.2vw;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 0;
}

.details {
  width: 27vw;
  height: 27vw;
  padding: 1vw;
  align-items: center;
  justify-content: center;
  text-justify: inter-word;
  background-color: rgba(10, 10, 10, 0.8);
  outline: 1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.25s ease-in-out;
}

.details:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.details p {
  padding-bottom: 0.1vw;
  font-size: 1.2vw;
  font-weight: 300;
}

h4 {
  margin-top: 2.5vw;
  margin-bottom: 0.1vw;
  font-size: 1.4vw;
  font-weight: 500;
}

.hobby {
  width: 12vw;
  height: 12vw;
  padding: 1vw;
  object-fit: contain;
  background-color: rgba(10, 10, 10, 0.8);
  outline: 1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.25s ease-in-out;
}

.hobby h4 {
  margin-top: 0.01vw;
  margin-bottom: 0.6vw;
  font-size: 1.18vw;
}

.hobby:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.values {
  width: 12vw;
  height: 12vw;
  padding: 1vw;
  object-fit: contain;
  background-color: rgba(10, 10, 10, 0.8);
  outline: 1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.25s ease-in-out;
}

.values:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));
  outline: 1px solid rgba(255, 255, 255, 0.5);
}
.values h4 {
  margin-top: 0.01vw;
  margin-bottom: 0.6vw;
}
.values p {
  font-size: 1.18vw;
}
.quote {
  text-align: center;
  margin-top: 1vw;
  width: 12vw;
  height: 12vw;
  padding: 1vw;
  background-color: rgba(10, 10, 10, 0.8);
  outline: 1px solid rgba(0, 121, 78, 0.6);
  color: rgba(0, 121, 78, 0.9);
  float: right;
  transition: all 0.25s ease-in-out;
}

.quote:hover {
  filter: drop-shadow(0px 0px 10px rgba(0, 121, 78, 0.5));
  outline: 1px solid rgba(0, 121, 78, 0.8);
  color: rgba(0, 121, 78, 1);
}

.quote p {
  font-size: 1.4vw;
  font-style: italic;
  margin: 0.5vw;
  margin-top: 1.2vw;
}

.quote h3 {
  font-style: italic;
  margin: 0.5vw;
  margin-top: 1.4vw;
  font-size: 1.4vw;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 0;
  text-align-last: right;
}

.some {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 12vw;
  height: 11.5vw;
  padding: 1vw;
  padding-top: 1.5vw;
  outline: 1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8;
}

.some h2 {
  font-size: 1.6vw;
  margin-top: 0.8vw;
}

.some:has(.spotify:hover) {
  background-color: rgba(30, 215, 96, 1);
}

.some:has(.yt:hover) {
  background-color: rgba(255, 0, 0, 1);
}

.some:has(.instagram:hover) {
  background-color: rgba(255, 220, 128, 1);
}

.some:has(.fb:hover) {
  background-color: rgba(66, 103, 178, 1);
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.interactive {
  margin-top: 2.5vw;
  justify-content: center;
  width: 29vw;
  height: 12vw;
  transition: all 0.25s ease-in-out;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 27vw;
  height: 12vw;
  padding: 1vw;
  background-color: rgba(10, 10, 10, 0.8);
  outline: 1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.25s ease-in-out;
}

.contact:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.contact h3 {
  margin-bottom: 1vw;
}

.contact h4 {
  padding-left: 1vw;
  font-size: 1.8vw;
  margin-left: 4vw;
  margin-top: 0.6vw;
  line-height: 1vw;
  margin-bottom: 0.1vw;
  letter-spacing: 0.05vw;
}

.contact p {
  padding-left: 1.7vw;
  margin-top: 0.01vw;
  margin-left: 4vw;
  line-height: 0.6vw;
}
.number {
  margin-left: 4vw;
}
.mail {
  width: 20vw;
  margin-left: 4vw;
}

/* .insta:has(.instagram){
  -webkit-transition: background 1.5s;
  transition: background 1.5s;
  background-image: conic-gradient(#405DE6,#5B51D8,#833AB4,#C13584,#E1306C,
  #FD1D1D,#F56040,#FCAF45,#FFDC80,#405DE6);

}
.instagram{
    opacity: 0;
}

.insta:has(.instagram:hover){
  -webkit-transition: background 1.5s;
  transition: background 1.5s;
}
*/
/*
.some:has(.instagram:hover){
  background-image: conic-gradient(#405DE6,#5B51D8,#833AB4,#C13584,#E1306C,
  #FD1D1D,#F56040,#FCAF45,#FFDC80,#405DE6)
}
/*
.some:has(.instagram:hover){
  background-color:  #E1306C;
}
*/

/*

}*/

/*


*/
/*
a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center;
  padding: 0;
  margin-bottom: 25px;
}

.postcard {
  display: inline-block;
  width: 460px;
  text-align: center;
  padding: 5px;
}

.postcard p {
  padding: 5px;
  margin-top: 10px;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  color: #39a5f1;
  margin-top: 45px;
  margin-bottom: 30px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* Hover effects */

/* scale może być dwuargumentowe (w osi x i y)*/

/*
.overlay {
  position: relative;
}
.overlay .link {
  position: absolute;
  display: block;

  background-color: #111;
  left: 0px;
  bottom: 0px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.overlay:hover .link {
  opacity: 0.8;
}
.photo4 {
  width: 450px;
}
.overlayT {
  position: relative;
}
.overlayT .link {
  position: absolute;
  display: block;
  background-color: #27a38d;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.overlayT:hover .link {
  opacity: 0.9;
}
.icon {
  display: block;
  top: 25%;
  position: relative;
  font-size: 72px;
}
.icon p {
  font-size: 20px;
}
.photo5 {
  width: 450px;
  height: 278px;
  overflow: hidden;
}
.photo5 img {
  transition: all 0.5s ease-in-out;
}
.photo5:hover img {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
.photo6 {
  width: 450px;
  height: 278px;
  overflow: hidden;
}
.photo6 img {
  transition: all 0.7s ease-in-out;
}
.photo6:hover img {
  -webkit-transform: scale(1.2) rotate(-5deg);
  -ms-transform: scale(1.2) rotate(-5deg);
  transform: scale(1.2) rotate(-5deg);
*/
