/*@media only screen and (min-width: 1400px) {*/

html,
body {
  overflow-x: hidden;
}

.TOP {
  margin-top: 0.3vw;
  margin-left: 0.46vw;
  height: 0.2vw;
  width: 2vw;
  background: rgb(255, 255, 255);
  opacity: 80%;
  mix-blend-mode: difference;
}
#arrow {
  margin-left: 0.5vw;
  margin-top: 1.6vw;
  position: relative;
  text-align: center;

  height: 0.2vw;
  width: 2vw;
}
#arrow:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: rgb(255, 255, 255);
  transform: skew(0deg, 35deg);
  opacity: 80%;
  mix-blend-mode: difference;
}
#arrow:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: rgb(255, 255, 255);
  transform: skew(0deg, -35deg);
  opacity: 80%;
  mix-blend-mode: difference;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #efefef;
  align-items: center;
  background-color: rgb(0, 0, 0);
  transition: all 1.2s ease-in-out;
  -webkit-transition: all 1.2;
  transition: opacity 0s ease-in-out;
  -webkit-transition: opacity 0;
}

img {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
img:hover {
  box-shadow: 0.1vw 0.1vw 0.8vw 0.4vw rgba(0, 0, 0, 0.05);
}

figure {
  margin: 0;
  padding: 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

#scroll {
  width: 3vw;
  height: 3vw;
  text-decoration: none;
  mix-blend-mode: difference;
  border-radius: 2vw;
  outline: 0.1vw solid rgb(255, 255, 255);
  background-blend-mode: difference;
  opacity: 80%;
  display: none;
  position: fixed;
  background-size: cover;
  background-position: center center;
}

#scroll:hover {
  background-color: rgba(255, 255, 255, 0.99);
}
.scrollupTOP {
  /* background: url("/0.Img/0.ScrollTOP.png") no-repeat 0px 0px;*/
  right: 1vw;
  bottom: 12vw;
}

.scrollUP {
  /*background: url("/0.Img/0.ScrollUP.png") no-repeat 0px 0px;*/
  right: 1vw;
  bottom: 8vw;
}

.scrollDOWN {
  /*background: url("/0.Img/0.ScrollDown.png") no-repeat 0px 0px;*/

  right: 1vw;
  bottom: 4vw;
}

.container {
  width: 100vw;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  /*outline: 1px solid rgba(243, 220, 14, 0.4);*/
}

h1,
h2,
h3,
h4,
h5,
p,
figcaption {
  font: roboto;
  color: #ffffff;
  mix-blend-mode: difference;
  font-weight: 400;
  font-size: 1vw;
}

/* header 1---------------------------------------------------------------------------------------------------------------------------*/

.opening {
  margin: auto;
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 90vw;
  height: 42vw;
  display: flex;
  /*outline: 1px solid rgba(182, 42, 42, 0.4);*/

  display: flex;
  justify-content: center;
}

.box_2_3 {
  padding: 4vw;

  width: 55vw;
  height: 30vw;

  align-items: center;

  /*  outline: 1px solid rgba(68, 42, 182, 0.4);*/
}

.box_1_3 {
  padding: 4vw;
  width: 25vw;
  height: 30vw;

  display: flex;
  justify-content: center;
  align-items: center;

  /*  outline: 1px solid rgba(42, 182, 54, 0.4);*/
}

.box_2_3 h1 {
  font-size: 5vw;
  line-height: 0px;
  font-weight: 600;
  -moz-text-align-last: justify;
  text-align-last: justify;
}

.name {
  letter-spacing: 0.75vw;
}

.box_2_3 h2 {
  font-size: 2vw;
  line-height: 0px;
  font-weight: 300;

  -moz-text-align-last: center;
  text-align-last: center;
}

.box_2_3 h3 {
  font-size: 1vw;
  font-weight: 300;
  line-height: 5vw;

  -moz-text-align-last: justify;
  text-align-last: justify;
  letter-spacing: 0.65vw;
}

.qr {
  width: 12vw;
  height: 12vw;
}

.links {
  display: flex;
}

.links p {
  font-size: 1.05vw;
  font-weight: 300;
  letter-spacing: 0.3vw;
}

.contact {
  width: 20vw;
  margin-left: 1vw;
  align-items: center;

  /*outline: 1px solid rgba(68, 42, 182, 0.4);*/
}

.contact h3 {
  font-size: 4vw;
  font-weight: 300;
}

.contact h4 {
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 0.6vw;

  letter-spacing: 0.3vw;
}

.profile {
  width: 25vw;
  height: 25vw;

  outline: 0.5px solid rgba(255, 255, 255, 0.8);
}

/* slide_1_spis_tresci----------------------------------------------------------------------------------------------------------------*/

.slide_1_1 {
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 100vw;
  height: 42vw;
  /*  outline: 1px solid rgba(182, 42, 42, 0.4);*/

  display: flex;
  justify-content: center;
  align-items: center;
}

.insidebox {
  width: 95vw;
  height: 42vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
  gap: 2vw;
}

.photo_1 {
  width: 25vw;
  height: 25vw;

  outline: 0.5px solid rgba(255, 255, 255, 0.8);
}
.contents {
  width: 12vw;
  line-height: 2vw;

  /*outline: 1px solid rgba(68, 42, 182, 0.4);*/
}

.contents h2 {
  line-height: 2vw;
}

.slide_pokaz {
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 100vw;
  height: 30vw;
  /*  outline: 1px solid rgba(182, 42, 42, 0.4);*/

  display: flex;
  justify-content: center;
  align-items: center;
}
/* slide_1_1_fuksowka----------------------------------------------------------------------------------------------------------------*/

#fuksowka {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4),
    rgb(255, 127, 157),
    rgb(255, 127, 157),
    rgb(255, 127, 157),
    rgb(255, 127, 157),
    rgb(255, 127, 157),
    rgb(255, 127, 157),
    rgb(255, 127, 157)
  );
}

#fuksowka_2 {
  background-color: rgb(255, 127, 157);
}

.slide_1_1 h3 {
  font-size: 1.5vw;
  letter-spacing: normal;
  text-align: center;
}

.description p {
  font-size: 1vw;
  font-weight: 300;
  text-align: justify;
  -moz-text-align: justify;
}

.trio {
  display: flex;
  justify-content: space-evenly;
}

.slide_1_1 p {
  text-align: center;
  line-height: 1.1vw;
  font-weight: 400;
  font-size: 0.9vw;
}

.slide_1_1 h4 {
  margin-top: 1vw;
  margin-bottom: auto;
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
}
.wide {
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
}
.pion {
  width: 8vw;
  height: 10vw;
  justify-content: center;
  align-items: center;
  /*outline: 1px solid rgba(68, 42, 182, 0.4);*/
}

.pion p {
  font-size: 1.2vw;
  margin: 0.5vw;
}
.probka {
  margin: auto;
  width: 1.5vw;
  height: 1.5vw;
  margin-bottom: 0.6vw;
  outline: 0.1vw solid #1b151e;
}
.d_colour {
  width: 18vw;
  height: 14vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  /* outline: 1px solid rgba(68, 42, 182, 0.4);*/
}

.d_topic {
  width: 18vw;
  height: 14vw;

  /* outline: 1px solid rgba(68, 42, 182, 0.4);*/
}

.d_formats {
  width: 18vw;
  height: 14vw;

  /* outline: 1px solid rgba(68, 42, 182, 0.4);*/
}

.bilet {
  height: 8vw;
  width: auto;
}

/* slide_1_2_zerowka----------------------------------------------------------------------------------------------------------------*/

#zerowka {
  background-image: linear-gradient(
    180deg,
    rgb(255, 127, 157),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
}
#zerowka_2 {
  background-color: rgb(255, 255, 255);
}
#zerowka_3 {
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
}

/* slide_2_1_NESTLE----------------------------------------------------------------------------------------------------------------*/

#nestle {
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    rgb(0, 86, 149),
    rgb(0, 86, 149),
    rgb(0, 86, 149),
    rgb(0, 86, 149),
    rgb(0, 86, 149),
    rgb(0, 86, 149),
    rgb(0, 86, 149),
    rgb(0, 86, 149),
    rgb(0, 86, 149)
  );
}

#nestle {
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    rgb(99, 81, 61),
    rgb(99, 81, 61),
    rgb(99, 81, 61),
    rgb(99, 81, 61),
    rgb(99, 81, 61),
    rgb(99, 81, 61)
  );
}
/* 
#nestle {
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    rgb(119, 129, 134),
    rgb(119, 129, 134),
    rgb(119, 129, 134),
    rgb(119, 129, 134),
    rgb(119, 129, 134),
    rgb(119, 129, 134)
  );
}*/

#nestle_2 {
  background-image: linear-gradient(
    180deg,
    rgb(0, 86, 149),
    rgb(0, 86, 149),
    rgb(0, 86, 149),
    rgb(0, 86, 149),
    rgb(0, 86, 149)
  );
}

#nestle_2 {
  background-image: linear-gradient(
    180deg,
    rgb(99, 81, 61),
    rgb(99, 81, 61),
    rgb(99, 81, 61),
    rgb(99, 81, 61),
    rgb(99, 81, 61)
  );
}
/* 
#nestle_2 {
  background-image: linear-gradient(
    180deg,
    rgb(119, 129, 134),
    rgb(119, 129, 134),
    rgb(119, 129, 134),
    rgb(119, 129, 134),
    rgb(119, 129, 134)
  );
}*/

/* slide_2_2_NESTLE----------------------------------------------------------------------------------------------------------------*/

#nestle_2 figcaption {
  font: roboto;
  color: #ffffff;
  font-weight: 400;
  font-size: 1vw;
  mix-blend-mode: normal;
}

/* slide_2_3_NESTLE----------------------------------------------------------------------------------------------------------------*/

#other {
  background-image: linear-gradient(
    180deg,
    rgb(99, 81, 61),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0)
  );
}

#other2 {
  background-color: rgb(0, 0, 0);
}

.square {
  padding: 0;
  width: 16vw;
  height: 16vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.horizontal {
  padding: 0;
  width: 28.35vw;
  height: 16vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.vertical {
  padding: 0;
  width: 20vw;
  height: 35.5vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/*

.photo1 {
  width: 21.75vw;
  height: 21.75vw;
  transition: all 0.25s ease-in-out;
  opacity: 0.96;
  /* transition: opacity 0.5s ease-in-out;*/

/* transition: co ma być przejściowe, ile ma trwać, w jaki sposób ma przechodzić */
/* jak chcemy, żeby transition dotyczyło wszystkich funkcji, wpisujemy "all" */

.interactive {
  margin-top: 2vw;
  justify-content: center;
  width: 21.75vw;
  height: 8vw;
  transition: all 0.25s ease-in-out;
}

.some {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 9.5vw;
  height: 9.5vw;
  padding: 0.5vw;
  padding-top: 0.5vw;
  outline: 1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8;
}

.some h2 {
  font-size: 1.2vw;
  margin-top: 0.4vw;
}

.some:has(.spotify:hover) {
  background-color: rgba(30, 215, 96, 1);
}

.some:has(.yt:hover) {
  background-color: rgba(255, 0, 0, 1);
}

.some:has(.instagram:hover) {
  background-color: rgba(255, 220, 128, 1);
}

.some:has(.fb:hover) {
  background-color: rgba(66, 103, 178, 1);
}

.number {
  margin-left: 2vw;
}
.mail {
  width: 20vw;
  margin-left: 2vw;
}
